.owners-base {

  td {
    width: 25%;
  }

  .selected {
    color: darkcyan;
  }

  .wrapper-button {
    margin: 5px 0 10px 0;
  }

  button {
    margin-right: 10px;
  }
}

.owners-details {
  &-unit {

    .button-icon {
      margin-right: 5px;
    }

    .ownerCreate {
      align-items: center;
    }

    .ownerCreateLabel {
      width: 100px;
    }

    .form-control {
      width: 300px;
      margin-top: 5px;
    }

  }

  &-car {
    th, td {
      padding-left: 10px;
    }

    .button-icon {
      margin-right: 5px;
    }

    .btn-carAdd {
      margin: 10px 0 0 10px;
    }

    .btn-carForm {
      margin: 10px 10px 0 0;
    }
  }

}

