<h2>Владелец</h2>

<div class="row ownerCreate">
  <label for="aLastName" class="ownerCreateLabel">Фамилия: </label>
  <input id="aLastName" [(ngModel)]="owner.aLastName" type="text" class="form-control">
</div>
<div class="row ownerCreate">
  <label for="aFirstName" class="ownerCreateLabel">Имя: </label>
  <input id="aFirstName" [(ngModel)]="owner.aFirstName" type="text" class="form-control">
</div>
<div class="row ownerCreate">
  <label for="aMiddleName" class="ownerCreateLabel">Отчество: </label>
  <input id="aMiddleName" [(ngModel)]="owner.aMiddleName" type="text" class="form-control">
</div>
